.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} .flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} .flexslider .slides img {width: 100%; display: block;}
.flex-control-thumbs img {cursor:pointer;}
.flex-pauseplay span {text-transform: capitalize;} .slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}  .no-js .slides > li:first-child {display: block;} .flexslider {overflow:hidden; position: relative; z-index:2;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; } .flexslider.main-slider .flex-direction-nav li a {
position:absolute;
z-index:300;
top:50%;
display:block;
width:32px;
height:32px;
margin-top:-16px;
font-family:FontAwesome;
text-align:center;
}
.flexslider.main-slider .flex-direction-nav li a.flex-prev {left:15px;}
.flexslider.main-slider .flex-direction-nav li a.flex-next {right:15px;}
.flexslider.main-slider .flex-direction-nav li a:before {
position:absolute;
left:0;
top:0;
width:32px;
height:32px;
line-height:30px;
font-size:38px;
color:#FFFFFF;
transition: all 0.3s ease-in-out; 
-webkit-transition: all 0.3s ease-in-out;
opacity: .5;
}
.flexslider.main-slider .flex-direction-nav li a.flex-prev:before {content: "\f053"; background: transparent; left: -15px;}
.flexslider.main-slider .flex-direction-nav li a.flex-next:before {content: "\f054"; background: transparent;}
.flexslider.main-slider .flex-direction-nav li a:hover:before {color:#26BDEF;}
.flexslider.main-slider:hover .flex-direction-nav li a:before { opacity: 1; } .flex-control-nav {
position:absolute;
z-index:300;
left:50%;
bottom:72px;
width:1170px;
margin-left:-585px;
text-align:left;
}
.flex-control-nav li {
display:inline-block;
margin:0 13px 0 0;
}
.flex-control-nav li a {
display:block;
width:17px;
height:17px;
border-radius:50%;
box-shadow:0 0 0 2px #fff inset;
font-size:0;
cursor:pointer;
}
.flex-control-nav li a:hover {opacity:0.6;}
.flex-control-nav li a.flex-active {
box-shadow:0 0 0 9px #FFFFFF inset;
cursor:default;
}
.flex-control-nav li a.flex-active:hover {opacity:1;}
.flex-direction-nav {  text-align: center; width: auto; display: inline-flex; }
.flex-direction-nav li a:before { font-weight: 300; font-size: 13px; padding: 5px 9px; margin: 0 3px; float: left; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s; background:  #076896; color: #FFFFFF; }
.flex-direction-nav li a.flex-prev:before  {content: "\f053"; }
.flex-direction-nav li a.flex-next:before {content: "\f054"; }
.flex-direction-nav li a:hover:before { background: #26BDEF; }
.flexslider.main-slider .flex-direction-nav {display: block;} .flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; } .flex-control-thumbs {
position: absolute;
z-index:200;
left:0;
bottom:50px;
width:100%;
text-align:center;
}
.flex-control-thumbs li {
overflow:hidden;
position:relative;
display:inline-block;
width: 100px;
height:70px;
margin: 0 5px;
}
.flex-control-thumbs img {
position:asbolute;
width: auto;
max-width:none;
height:100%;
display: block;
cursor: pointer;
}
.flex-control-thumbs li img.flex-active:before {
content:'';
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
border:5px solid #FFFFFF;
} .flexslider.main-slider { background-color:#076896; }
.flexslider.main-slider  .flex-control-nav { bottom: 30px; }
.flexslider.main-slider .slideitem { width:100%; background-color:#076896; background-size:cover; }
.main-slider .slides li { height:400px; background-image:url(//www.anvinfosystem.com/wp-content/themes/innovation-lite/images/slide/slideback1.jpg); }
.main-slider .flex_caption1 p {margin:0;}
.main-slider .flex_caption2 { position:absolute; z-index:25; bottom:0; width:430px; height:400px; right:5%; background-repeat:no-repeat; background-size:100% auto; -webkit-background-size:100% auto; background-position:  right bottom; }
.main-slider .slide_btn { position:absolute; z-index:110; bottom:26%; left:50%; width:auto; display:inline-block; margin-left:-584px; padding:0 30px; font-weight:500; 	line-height:20px; font-size:21px; color:#FFFFFF; }
.main-slider .slide_btn:before { content:'\f04c'; position:absolute; left:0; top:0; height:20px; font-weight: 300; }
.main-slider .slide_btn:after { content:'\f04c'; position:absolute; right:0; top:0; height:20px; font-weight: 300; }
.main-slider .flex_caption1 { position:absolute; z-index:30; left:50%; top:10%; width:100%;  font-size: 35px; font-weight: 500; color: #FFFFFF; top: 10%; margin-left:-45%; }
.main-slider .flex-control-nav { margin-left:-45%; }
.main-slider .slide_btn {margin-left:-45%; } .FadeIn, .FromTop, .FromRight, .FromBottom, .FromLeft {opacity: 0; transition: all 0.7s ease-in-out; -webkit-transition: all 0.7s ease-in-out;}
.captionDelay1 {transition-delay: 0.1s; -webkit-transition-delay: 0.1s;}
.captionDelay2 {transition-delay: 0.2s; -webkit-transition-delay: 0.2s;}
.captionDelay3 {transition-delay: 0.3s; -webkit-transition-delay: 0.3s;}
.captionDelay4 {transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
.captionDelay5 {transition-delay: 0.5s; -webkit-transition-delay: 0.5s;}
.captionDelay6 {transition-delay: 0.6s; -webkit-transition-delay: 0.6s;}
.captionDelay7 {transition-delay: 0.7s; -webkit-transition-delay: 0.7s;}
.captionDelay8 {transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
.captionDelay9 {transition-delay: 0.9s; -webkit-transition-delay: 0.9s;}
.captionDelay10 {transition-delay: 1s; -webkit-transition-delay: 1s;}
.captionDelay11{transition-delay: 1.1s; -webkit-transition-delay: 1.1s;}
.captionDelay12 {transition-delay: 1.2s; -webkit-transition-delay: 1.2s;}
.flexslider li.flex-active-slide .FadeIn {opacity: 1;}
.flexslider li .FromTop {transform: translateY(-100%); -o-transform: translateY(-100%); -ms-transform: translateY(-100%); -webkit-transform: translateY(-100%);}
.flexslider li.flex-active-slide .FromTop {opacity: 1; transform: translateY(0); -o-transform: translateY(0%); -ms-transform: translateY(0); -webkit-transform: translateY(0);}
.flexslider li .FromBottom {transform: translateY(100%); -o-transform: translateY(100%); -ms-transform: translateY(100%); -webkit-transform: translateY(100%);}
.flexslider li.flex-active-slide .FromBottom {opacity: 1; transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0);}
.flexslider li .FromLeft {transform: translateX(-100%); -o-transform: translateX(-100%); -ms-transform: translateX(-100%); -webkit-transform: translateX(-100%);}
.flexslider li.flex-active-slide .FromLeft {opacity: 1; transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0);}
.flexslider li .FromRight {transform: translateX(100%); -o-transform: translateX(100%); -ms-transform: translateX(100%); -webkit-transform: translateX(100%);}
.flexslider li.flex-active-slide .FromRight {opacity: 1; transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0);}